UPDATE_SYSTEM=true
GENERATE_PRIVATE_KEY=true
INSTALL_PYTHON3=true
ALLOWED_SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDuMF79zbNicOy8RajEeUP170MmW33qrAW86fWO3dO2E alex@borgardt.me"
REBOOT_AFTER_SETUP=true
